<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.miqdad71.starworks">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_starworks"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_starworks_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StarworkS"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.activity.main.engineer.img_profile.ImageProfileEngineer"
            android:theme="@style/Theme.StarworkS.NoActionBar" />
        <activity
            android:name=".ui.activity.main.engineer.EngineerSettingActivity"
            android:theme="@style/Theme.StarworkS.NoActionBar" />
        <activity
            android:name=".ui.activity.skill.EditSkillActivity"
            android:theme="@style/Theme.StarworkS.NoActionBar" />
        <activity
            android:name=".ui.activity.detail.company.ProjectDetailActivity"
            android:theme="@style/Theme.StarworkS.NoActionBar" />
        <activity
            android:name=".ui.activity.main.company.AddProjectActivity"
            android:theme="@style/Theme.StarworkS.NoActionBar" />
        <activity
            android:name=".ui.activity.main.company.EditProjectActivity"
            android:theme="@style/Theme.StarworkS.NoActionBar" />
        <activity
            android:name=".ui.activity.skill.SkillActivity"
            android:theme="@style/Theme.StarworkS.NoActionBar" />
        <activity
            android:name=".ui.activity.detail.company.HireCompanyActivity"
            android:theme="@style/Theme.StarworkS.NoActionBar" />
        <activity
            android:name=".ui.activity.detail.engineer.ProfileEngineerDetailActivity"
            android:theme="@style/Theme.StarworkS.NoActionBar" />

        <activity android:name=".ui.webview.WebViewActivity" />
        <activity android:name=".ui.adapter.engineer.EngineerLayoutActivity" />

        <activity
            android:name=".ui.activity.main.engineer.EngineerMainActivity"
            android:theme="@style/Theme.StarworkS.NoActionBar" />

        <activity
            android:name=".ui.activity.main.company.CompanyMainActivity"
            android:theme="@style/Theme.StarworkS.NoActionBar" />

        <activity android:name=".ui.activity.experience.ExperienceActivity"
            android:theme="@style/Theme.StarworkS.NoActionBar" />

        <activity android:name=".ui.activity.portfolio.PortfolioActivity"
            android:theme="@style/Theme.StarworkS.NoActionBar" />

        <activity android:name=".ui.activity.signup.SignUpActivity" />
        <activity android:name=".ui.activity.forgetpassword.ForgetPasswordVerifyActivity" />
        <activity android:name=".ui.activity.forgetpassword.ForgetPasswordActivity" />
        <activity android:name=".ui.activity.OnboardActivity" />
        <activity android:name=".ui.activity.login.LoginActivity" />
        <activity android:name=".ui.activity.splash.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>