<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miqdad71.starworks">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_starworks"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_starworks_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StarworkS"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.activity.detail.ProjectDetailActivity"
            android:theme="@style/Theme.StarworkS.NoActionBar" />
        <activity android:name=".ui.activity.main.company.AddProjectActivity" />
        <activity
            android:name=".ui.activity.main.company.HireCompanyActivity"
            android:theme="@style/Theme.StarworkS.NoActionBar" />
        <activity
            android:name=".ui.activity.detail.ProfileDetailActivity"
            android:theme="@style/Theme.StarworkS.NoActionBar" />
        <activity android:name=".example.ListEngineerActivity" />
        <activity android:name=".ui.webview.WebViewActivity" />
        <activity android:name=".ui.adapter.engineer.EngineerLayoutActivity" />
        <activity android:name="com.miqdad71.starworks.example.dialog.DialogActivity" />
        <activity
            android:name=".ui.activity.main.engineer.EngineerMainActivity"
            android:theme="@style/Theme.StarworkS.NoActionBar" />
        <activity
            android:name=".ui.activity.main.company.CompanyMainActivity"
            android:theme="@style/Theme.StarworkS.NoActionBar" />
        <activity android:name=".ui.activity.signup.SignUpActivity" />
        <activity android:name=".ui.activity.forgetpassword.ForgetPasswordVerifyActivity" />
        <activity android:name=".ui.activity.forgetpassword.ForgetPasswordActivity" />
        <activity android:name=".ui.activity.OnboardActivity" />
        <activity android:name=".ui.activity.experience.ExperienceActivity" />
        <activity android:name=".ui.activity.login.LoginActivity" />
        <activity android:name=".ui.activity.splash.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>